DB_URL="postgres://postgres:qazdr123@localhost:5432/gar?sslmode=disable"
MIGRATIONS_DIR="./migrations"
EXTRACT_FOLDER=/home/ilias/GolandProjects/gar-loader/out/extracted
DOWNLOADS_FOLDER=/home/ilias/GolandProjects/gar-loader/out/downloads
DST_DIR=/home/ilias/GolandProjects/gar-loader/out/extracted/delta
XML_DIR=/home/ilias/GolandProjects/gar-loader/out/extracted/delta/16